.container {
  max-width: 1200px;
  margin: 0 auto;
}

.controls {
    text-align: end;
    margin: 15px;

    .search-bar {
      font-size: 1.3rem;
      border: 1px solid #ddd;
      border-radius: 0.4rem;
      padding: 6px;
      margin-right: 20px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .sort-button {
      font-size: 1.1rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.4rem;
      background-color: #a9e10d;
      color: #142a10;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      transition: all 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: #142a10;
        color: #a9e10d;
      }

      &:active {
        scale: 0.95;
      }
    }
}

.trip-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}